.container{
    margin: 0 auto;
    max-width: 400px;
    text-align: center;
    padding: 20px;
    font-family: "Roboto", sans-serif;
}

.title{
    font-size: 36px;
    margin-bottom: 10vw;
    color: #2a475a;
}

.timer{
    font-size: 72px;
    color: #2a475a;
}

button{
    font-size: 18px;
    padding: 10px 20px;
    margin: 10px;
    color: white;

    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    transition: opacity -.3s ease-in-out;
}

button:hover{
    opacity: 0.7;
}

#start{
    background-color: #5f7460;
}

#stop{
    background-color: #ad7578;
}

#reset{
    background-color: #93909e;
}

.corner-image{
    position: fixed;
    bottom: 1px;
    right: 1px;
    width: 500px;
    max-width:500px;
    height:auto;
}
